<div class="nav_container">
<h1>New Transactions</h1>
<%= link_to group_entities_path do %>
<p>Back</p>
<% end %>
</div>

<%= render 'form', entity: @entity %>

<%= link_to 'Back', group_entities_path %>
