<div class="root_title_cnt">
<h1 class="root_title">Budgeteer</h1>
</div>
<p id="notice"><%= notice %></p>
<div class="root_btn_cnt">
<%= button_to "LOG IN", new_user_session_path, class: 'login_btn' %>  
<%= button_to "SIGN UP", new_user_registration_path, class: 'signup_btn' %>
</div>