/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
    --blue: #3778c2;
    --white: #ffffff;
  }  

 * {
     list-style: none;
     text-decoration: none;
 }

 body {
    margin: 0;
    height: 100%;
    background-color: #f5f6f8;
 }

.nav_container {
    display: flex;
    color:#ffffff;
    background-color: #3778c2;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form_fields {
    width: 100%;
    height: 45px;
    border:none;
    padding-left: 10px
}

select, option {
    width: 100%;
    height: 30px;
    border:none;
    padding: 0;
}

.total_ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: var(--white); 
    border-bottom: 1px solid #e3e4e6;   
}

.total_ctn > p {
    margin: 0 3%;    
}

.value_sum {
    font-weight: bold;
}

.category_li {
    display: flex;  
    align-items: center;  
    justify-content: space-between;
    height: 12vh;
    border-bottom: 1px solid #e3e4e6;  
    margin-top: 2vh;  
    background-color: var(--white); 
}

i {
    color: white;    
}

.icons {
    margin: 0 3%;
}

div.actions {
    margin: 0;
    display: flex;
    justify-items: center;
    align-items: center;    
    width: 100%;   
    height: 10vh;    
}

.actions > input {          
    height: 7vh;
    width: 80%;      
    border-radius: 2px;
    border: none;
    background-color: var(--blue);
    color: var(--white);    
    font-size: 20px;
    align-items: center;
    margin: auto;
}

h3 {
    color: black;
}

.category_title {
    width: 100%;
    text-align: center;
    margin-left: 12%;
}

.login_title {
    width: 100%;
    text-align: center;
    margin-right: 12%;
}